<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}" [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
    [sidebarToggler]="false" [mobileSidebarToggler]="true" [mobileAsideMenuToggler]="false" [asideMenuToggler]="false">
</app-header>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <!-- breaking change 'cui-breadcrumb' -->
        <ol class="breadcrumb" style="margin-bottom:0px !important;">
            <li class="breadcrumb-item">
                <div class="form-group row" style="margin-bottom:0px !important;">
                    <label class="col-form-label" style="margin-right:10px;" for="select1"> <strong>Country</strong> </label>
                    <div class="">
                        <select style="width:200;" id="select1" [(ngModel)]="selectedCountry" (ngModelChange)="selectedCountryChanged()" name="select1" class="form-control">
                        <option *ngFor="let x of country_list" value="{{x.alpha3Code}}">{{x.name}}</option>
                        </select>
                    </div>
                </div>
            </li>
        </ol>
        <cui-breadcrumb>
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                </div>
            </li>
        </cui-breadcrumb>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<app-footer>
    <!-- <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span> -->
    <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>