<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card table-responsive-sm">
                <table class="table table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">Parameter</th>
                            <th class="text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Country</strong></div>
                            </td>
                            <td  class="text-center">
                                <div>{{country.name || "-"}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Capital</strong></div>
                            </td>
                            <td  class="text-center">
                                <div>{{country.capital || "-"}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Region</strong></div>
                            </td>
                            <td class="text-center">
                                <div>{{country.region || "-"}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Sub-Region</strong></div>
                            </td>
                            <td  class="text-center">
                                <div>{{country.subregion || "-"}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Population</strong></div>
                            </td>
                            <td  class="text-center">
                                <div>{{country.population || "-"}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Area</strong></div>
                            </td>
                            <td  class="text-center">
                                <div>{{country.area || "-"}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div> <strong>Alpha3code</strong></div>
                            </td>
                            <td  class="text-center">
                                <div>{{country.alpha3Code || "-"}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4"></div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>